.technologies_cont{
    padding: 80px 0;
    text-align: center;
    width: 100%;
}
.technologies_cont h2{
    margin: 80px 0;
}
.technologies_cont ul{
    margin-bottom: 80px;
    list-style: none;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}
.arr1 li{
    position: absolute;
    left: 100%;
    animation-name: scroll_left;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--pos) * 6s);
}
.arr2 li{
    position: absolute;
    left: -490px;
    animation-name: scroll_right;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--pos) * 5s);
}
.arr3 li{
    position: absolute;
    left: 100%;
    animation-name: scroll_left;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--pos) * 6s);
}

.technologies_cont ul li h3{
    padding: 10px 20px;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0px 3px 8px rgb(132, 57, 249);
}


@keyframes scroll_left {
    to {
        left: -100%;
    }
}
@keyframes scroll_right {
    to {
        left: 100%;
    }
}