.header{
    width: 100%;
    margin-bottom: 320px;
    /* background-image: url("../../assets/images/header_bg_desktop.png");
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}
.header nav span{
    font-size: 2rem;
    text-transform: uppercase;
}
.header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.header nav ul li a:hover {
    color: #FE0072;
    transition: 0.4s ease;
}

.header section {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    text-transform: uppercase;
}

.fullstack{
    color: #FE0072;
}
.button{
    background-color: #FE0072;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 16px 40px;
    border-radius: 6px;
    transition: 0.4s ease;
    box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
        -moz-box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
}
.button:hover{
    background-color: #f0378a;
    box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
        -moz-box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
}
.button:focus{
    background-color: #c51765;
        box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
        -moz-box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
}