.header{
    width: 100%;
    margin-bottom: 300px;
    text-align: center;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}
.header nav span{
    font-size: 2rem;
    text-transform: uppercase;
}
.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.menu li a:hover {
    color: #FE0072;
    transition: 0.4s ease;
}

.header section {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    text-transform: uppercase;
}

.fullstack{
    color: #FE0072;
}
.button{
    background-color: #FE0072;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 16px 40px;
    border-radius: 6px;
    transition: 0.4s ease;
    box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
        -moz-box-shadow: 1px 0px 37px -6px rgba(254, 0, 114, 0.668);
}
.button:hover{
    background-color: #f0378a;
    box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
        -moz-box-shadow: 1px 0px 37px -6px rgba(238, 51, 135, 0.818);
}
.button:focus{
    background-color: #c51765;
        box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
        -webkit-box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
        -moz-box-shadow: 1px 0px 37px -6px rgba(184, 29, 99, 0.629);
}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    align-items: end;
}
.hamburger span{
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: 0.4s ease;
}

.hamburger.active span:nth-child(2) {
    width: 35px;
}

.hamburger.active span:nth-child(3) {
    width: 30px;
}

@media screen and (max-width: 1680px) {
    .header {
        margin-bottom: 260px;
    }
}
@media screen and (max-width: 1400px) {
    .header {
        margin-bottom: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .header {
        margin-bottom: 160px;
    }
}
@media screen and (max-width: 1024px) {
    .header nav{
        padding: 40px 80px;
    }
    .header nav span{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 768px) {
    .hamburger{
        display: flex;
    }
    .hamburger.active{
        position: fixed;
        z-index: 999999;
        right: 80px;
    }
    .menu{
        height: 100vh;
        background-color: #080516;
        width: 100%;
        position: fixed;
        z-index: 999991;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        transform: translateX(100%);
        transition: 0.4s ease;
    }
    .menu.active{
        transform: translateX(0);
    }
    .header section img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 640px) {
    .header nav{
        padding: 40px 20px;
    }
    .hamburger.active{
        right: 20px;
    }

}
@media screen and (max-width: 360px) {
    .hamburger.active{
        right: 20px;
    }
    .header nav{
        padding: 40px 20px;
    }
    .header nav span{
        font-size: 1.2rem;
    }
    .header section{
        margin-top: 20px;
        padding-top: 20px;
    }    
}