.project_card {
  width: 360px;
  background-color: rgba(39, 39, 39, 0.6);
  height: 580px;
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
  transition: 0.45s ease;

  &:hover img {
    filter: brightness(1);
  }
  img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    filter: brightness(0.8);
    transition: 0.45s ease;
  }
  .info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 218px);
    gap: 20px;
    p {
      margin-top: 12px;
      strong {
        color: #fe0072;
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 12px;
    }
  }
}
