.title_container span{
    font-weight: 700;
    font-size: 1.5rem;
}
.about_text_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
.text_container{
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_text_container ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.about_text_container ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.stronger{
    color: #FE0072;
    font-weight: 700;
}
.icon{
    width: 46px;
    height: 46px;
}
.pc{
    background-image: url("/icons/pc.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ide{
    background-image: url("/icons/ide.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hobby{
    background-image: url("/icons/hobby.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.music{
    background-image: url("/icons/music.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: 1024px) {
    .about_text_container{
        gap: 10px;
    }
    .text_container{
        max-width: 480px;
    }
}
@media screen and (max-width: 768px) {
    .title_container, .text_container{
        text-align: center;
    }
    .about_text_container{
        flex-direction: column;
        gap: 80px;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 640px) {
    .text_container p {
        line-height: 28px;
    }
    .about_text_container ul{
        gap: 20px;
    }
}
@media screen and (max-width: 360px) {
    .title_container span{
        font-size: 1.2rem;
    }
    .about_text_container{
        font-size: 1rem;
    }
    
}