@font-face {
  font-family: "Days One";
  src: url("../assets/fonts/DaysOne-Regular.ttf");
}
  @font-face {
  font-family: "Bai Jamjuree";
  font-weight: 500;
  src: url("../assets/fonts/BaiJamjuree-Regular.ttf");
}
  @font-face {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  src: url("../assets/fonts/BaiJamjuree-SemiBold.ttf");
}
  @font-face {
  font-family: "Bai Jamjuree";
  font-weight: 700;
  src: url("../assets/fonts/BaiJamjuree-Bold.ttf");
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #080516;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 500;
}

h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 700;
}
#title_name{
  font-family: 'Days One', sans-serif;
  font-size: 3.75rem;
}
h2,h3,h4,h5,h6{
  font-family: 'Days One', sans-serif;
}