.button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: #080516;
    border: 2px solid #FE0072;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 9999;
}
.button:hover{
    background-color: rgba(254, 0, 114, 0.1);
    transition: 0.4s ease;
}

.chatbot{
    position: fixed;
    right: 180px;
    bottom: 60px;
    opacity: 0;
    z-index: -1;
}
.chatbot.open{
    opacity: 1;
    transition: 1s ease;
    z-index: 5;
}