@font-face {
  font-family: "Days One";
  src: url("/fonts/DaysOne-Regular.ttf");
}

@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 500;
  src: url("/fonts/BaiJamjuree-Regular.ttf");
}

@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  src: url("/fonts/BaiJamjuree-SemiBold.ttf");
}

@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 700;
  src: url("/fonts/BaiJamjuree-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html {
  color: #d1d1d1;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  background-image: url("../../../public/images/bg_filter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
  color: white;
}
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  font-size: 2.3rem;
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.8rem;
  }
}
