.wrapper {
  max-width: 1138px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 1rem;
  }
}
