@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.linked_button_stroked{
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $white-color;
    text-decoration: none;
    font-weight: 800;
    padding: 12px 24px;
    cursor: pointer;
    @include border-radius(100px);
    transition: 0.4s ease;

    &:hover{
        // background-color: $primary-color;
        color: $primary-color;
    }
}
.linked_button{
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: $white-color;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    padding: 12px 24px;
    @include border-radius(100px);
    transition: 0.4s ease;
    
    &:hover{
        border: 2px solid $primary-hover-color;
        background-color: $primary-hover-color;
    }
}